/* CSS file */
.winCloseButton {
    icon: Embed("../mdi/close.png");
}
.winDoMaxButton {
    icon: Embed(source="../mdi/max.png");
}
.winDoRestoreButton {
	icon: Embed(source="../mdi/restore.png");
}
.winMinButton	{
	icon: Embed(source="../mdi/min.png");
}
.minimizedWinCloseButton	{
	icon: Embed(source="../mdi/close.png");
}
.minimizedWinActive	{
	background-color:#00ffff;	
}
.minimizedWinInactive	{
	background-color:#c0c0c0;	
}
.mdiWindowTitleStyle	{
	font-weight:bold;
	font-size:10;
	color:#ffffff;	
	alpha:1;
}

.mdiWindowStyle	{
	borderAlpha:1;
	titleStyleName:mdiWindowTitleStyle;
	borderThicknessBottom:17;
	borderThicknessLeft:3;
	borderThicknessRight:3;
	borderThicknessTop:3;
	borderColor:#003893;
	headerHeight:20;
	
}

.headerPanelStyle	{
	background-color:#afafff
}
.leftPanelStyle	{
	background-color:#afafff
}
.centerPanelStyle	{
	background-color:#afafff
}
.rightPanelStyle	{
	background-color:#afafff
}
.menuStyle	{
	background-color:#afafff
}

.headerBoxStyle	{
}

.appCanvasStyle	{
	background-color:#808080
}

.taskBarStyle	{
}